/* custome css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap");

html,
body {
    overflow-y: hidden;
}

#wrapper-detail p,
h1,
h2,
h3,
h4,
h5,
h6,
label {
    font-family: "Poppins", serif;
    /* font-weight: 500; */
    /* font-size: 12px; */
    color: #000;
}

.container-group {
    overflow-y: scroll;
    height: 100vh;
    position: relative;
    margin-bottom: 20vh;
}

.container-group::-webkit-scrollbar {
    display: none; /* Hides scrollbar in WebKit browsers */
}

.text-harga {
    color: #de0000;
}

.aside-section a {
    color: #383838;
    font-size: 13px;
}

.group-container {
    /* background-color: #1685b6; */
}

.aside-section h4 {
    font-size: 22px;
    font-weight: 700;
    color: #383838;
}

/* opsi bayar section */
#opsi-bayar-container {
    /* overflow-y: auto;
    max-height: 200px; */
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#opsi-bayar-container::-webkit-scrollbar {
    /* display: none; */
}

.item-opsi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    height: 63px;
    border-radius: 12px;
    border: 1px solid #ababab;
}

/* prioritas section */
.prioritas-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 8px;
}

.card-item-prioritas {
    min-height: 120px;
    max-height: 200px;
    border-radius: 10px;
    max-width: 190px;
    margin: auto;
}

.card-item-prioritas i {
    font-size: 1.3rem;
}

.card-title {
    font-size: 14px;
    font-weight: 600;
}

.card-text {
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
}

/* bonus section */
.bonus-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 8px;
}

.card-bonus {
    min-height: 245px;
    border-radius: 12px;
    border: 1px solid #ababab;
}

.card-bonus-body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
}

.card-bonus-body p {
    line-height: 15px;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 500;
}

.card-bonus-body h5 {
    line-height: 30px;
    color: #383838;
    font-size: 16px;
}

.card-bonus-body img {
    margin: auto;
}

.text-detail-card-bonus {
    font-size: 12px;
    font-weight: 500;
}

#ulasan-container {
    display: flex;
    gap: 8px;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    cursor: grab; /* Cursor changes to grab */
}

#ulasan-container::-webkit-scrollbar {
    display: none; /* Hides scrollbar in WebKit browsers */
}

.item-ulasan {
    flex-shrink: 0;
    flex-basis: 345px;
    /* min-height: 345px; */
}

.aside-section {
    /* min-height: 100vh; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    padding: 20px 16px;
}

.owl-carousel {
    transition: all 0.8s ease-in-out;
}
.owl-carousel .owl-hidden {
    transition: all 1s ease-in-out;
}

.owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
    border-color: transparent;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
    position: absolute;
    pointer-events: all;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 18px;
    border: none;
}

.owl-nav .owl-prev {
    left: 20px;
}

.owl-nav .owl-next {
    right: 20px;
}

.nama-review {
    font-size: 12px;
    font-weight: 700;
}

/* fasilitas section */
.container-fasilitas {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 8px;
}

.item-fasilitas {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: 38px;
    border-radius: 6px;
    gap: 16px;
    border: 1px solid #ababab;
    align-items: center;
    margin-bottom: 0.25rem !important;
}
/* tempat section */
.tempat-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 8px;
}

.item-tempat {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: 38px;
    border-radius: 6px;
    gap: 16px;
    border: 1px solid #ababab;
    align-items: center;
    margin-bottom: 0.25rem !important;
}

/* section blok */
#blok-container {
    overflow-y: auto;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#blok-container::-webkit-scrollbar {
    display: none; /* Hides scrollbar in WebKit browsers */
}

.item-blok {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    height: 63px;
    border-radius: 12px;
    border: 1px solid #ababab;
}

.select-blok {
    height: 78px;
}

/* jenis pembayaran */
.payment-method {
    display: inline-block;
    border: 2px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: border-color 0.3s ease;
    padding: 10px;
    text-align: center;
}

.payment-method img {
    width: 80px;
    height: auto;
}

.payment-method input[name="payment"] {
    display: none;
}

.payment-method:has(input[name="payment"]:checked) {
    border: 2px solid #007bff;
    border-radius: 8px;
}

/* jenis bank */
.radio-button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.radio-card {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    /* padding: 10px; */
    cursor: pointer;
    position: relative;
    transition: border-color 0.3s ease-in-out;
}

.radio-card:hover {
    border-color: #007bff;
}

.radio-card input[type="radio"] {
    display: none;
}

.radio-card .card-body {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 56px;
    padding: 12px 12px;
}

.radio-card .check-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.radio-card .check-icon {
    display: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.radio-card img {
    max-width: 90px;
    height: 22px;
}

.radio-card input[type="radio"]:checked + .card-body .check-box {
    border-color: #007bff;
    background-color: #007bff;
}

.radio-card input[type="radio"]:checked + .card-body .check-icon {
    display: inline-block;
}

/* navbar */
.stikcy-nav-container {
    position: relative;
    animation: fadeInDown;
    animation-duration: 2s;
}

.navbar .btn.btn-primary.btn-sm {
    background-color: transparent !important;
    border: none !important;
}

/* submit section */
.sticky-container {
    position: fixed;
    bottom: 0;
    background: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0.8));
    border-top: 1px solid #ddd;
    padding: 8px 20px;
    border-radius: 20px;
    z-index: 10;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    width: inherit;
    box-sizing: border-box;
}

/* Sticky content */
.sticky-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Price styling */
.price {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

/* Note styling */
.note {
    font-size: 12px;
    color: #6c757d;
}

/* Button styling */
.btn-primary {
    background-color: #0056b3;
    border-color: #0056b3;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
}

.btn-primary:hover {
    background-color: #004494;
    border-color: #004494;
}

/* button chat ai */
.chat-ai {
    position: fixed;
    z-index: 99999;
    background-color: #fff;
    border-radius: 20px;
    max-height: 67px;
    max-width: 75px;
    justify-content: center;
    align-items: center;
    color: #005991;
    padding: 8px 8px 0px 8px;
}

.chat-ai i {
    font-size: 29px;
    font-weight: 600 !important;
}

.chat-ai p {
    line-height: 15px;
    font-weight: 600 !important;
}

/* form section */

#form-section {
    margin-bottom: 15vh;
}

/* untuk css map */
#video_tour {
    /* position: absolute; */
    /* top: 0px;
    left: 0px;
    bottom: 0px; */
    width: 100%;
    height: 100vh;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    /* Mencegah klik pada video */
}

#map {
    height: 100vh;
    width: 100%;
}

.vt_view {
    height: 100vh;
}

.legend-box {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 3px;
}
.legend.card {
    /* font-family: Arial, sans-serif; */
    font-size: 10px;
    width: 100%;
}


/* responsive breakpoints */

/* desktop */
@media (min-width: 992px) {
    .owl-carousel .owl-item img {
        height: 100vh;
    }

    /* button chat ai */
    .chat-ai {
        left: 20px;
        bottom: 20px;
    }
}

/* mobile */
@media (min-width: 320px) and (max-width: 767px) {
    .owl-carousel .owl-item img {
        height: 30vh;
    }
    * {
        font-size: 10px;
    }

    /* form section */
    #form-section {
        margin-bottom: 30vh !important;
    }

    /* bonus section */
    .bonus-container {
        grid-template-columns: minmax(0, 60vw);
        justify-content: center;
        gap: 12px;
    }

    .sticky-container {
        position: fixed; /* Ensure it sticks to the bottom on mobile */
        bottom: 0;
        width: 100%; /* Take full width on mobile */
        padding: 4px 20px 4px 20px;
        border-radius: 20px 20px 0px 0px; /* Remove rounded corners for mobile */
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow */
        font-size: 12px;
    }

    .price {
        font-size: 20px; /* Adjust font size for smaller screens */
    }

    .note {
        font-size: 8px;
    }

    .btn-primary {
        padding: 10px 15px; /* Further adjust padding */
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    .section-form {
        margin-bottom: 300px;
    }

    .select-blok {
        height: 30px;
        width: 100%;
    }

    /* button chat ai */
    .chat-ai {
        left: 10px;
        top: 10px;
        width: 60px;
        height: 50px;
    }

    .chat-ai p {
        font-size: 10px;
    }

    .chat-ai i {
        font-size: 20px;
    }

    #video_tour {
        position: relative;
        width: 100%;
        height: 30vh !important;
    }

    video {
        position: absolute;
        inset: 0;
        object-fit: cover;
        pointer-events: none;
    }

    .vt_view {
        height: 30vh !important;
    }

    #map {
        height: 30vh !important;
    }

    .stikcy-nav-container {
        position: relative;
        top: unset;
        left: unset;
        right: unset;
    }

<<<<<<< HEAD
    .navbar .btn.btn-primary.btn-sm {
        font-size: 10px;
        padding: 4px;
    }
=======
    .legend-box {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 3px;
    }
    .legend.card {
        /* font-family: Arial, sans-serif; */
        font-size: 8px;
        width: 100%;
    }


    /* .sticky-container {
        position: relative;
    } */
>>>>>>> 67efa4f1f91ae50f8810038a9189a3ea472ebdce
}
